<main>
    <div class="container">
        <div class="" *ngIf="!isLoading;else loading">
            <div class="details grid" *ngIf="product; else notFound">
                <img [src]="product.imageUrl" [alt]="product.name">

                <div class="content">
                    <h1 class="">{{product.name}}</h1>

                    <div class="info">
                        <span class="price">
                            <i class='bx bxs-purchase-tag-alt'></i>
                            {{product.price | currency}}
                        </span>

                        <span class="quantity">
                            <i class='bx bxs-dish'></i>
                            {{product.quantity | number}}
                        </span>
                    </div>

                    <p class="description">{{product.description}}</p>

                    <a class="btn" routerLink="/products/order/success">Order Now</a>
                </div>
            </div>

            <ng-template #notFound>
                <h1>Product not found. Try again later</h1>
            </ng-template>
        </div>

        <ng-template #loading>
            <span>Loading...</span>
        </ng-template>
    </div>

</main>