header {
    background: hsla(0 0% 100% / 0.5);

    position: fixed;
    inset: 0 0 auto 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 2rem;
}

.nav-links a:hover {
    text-decoration: underline;
}
