<main>
    <section class="hero">
        <div class="content container">
            <h1>Amber Eateries</h1>

            <p>Enjoy fresh meals from the comfort of your own home, all with the press of a button.</p>

            <a class="btn" routerLink="/products/browse">Find Your Meal</a>
        </div>

        <img src="https://images.unsplash.com/photo-1619221882220-947b3d3c8861?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
            alt="A random dish">
    </section>
</main>